@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #DCE9FF;
}

/* Form */
.form-container {
  width: 1000px;
}
.title {
  text-align: center;
}
.slogan {
  text-align: center;
  margin-bottom: 10%;
}

.btn {
  width: 100%;
}

.auth-image {
  width: 85%;
  height: 100%;
  border-radius: 10px;
  margin: auto;
}

.alert {
  margin-bottom: 1.5rem;
}

/* Profile-card */
.profile-card {
  width: 500px;
  text-align: center;
}

.avatar {
  margin-bottom: 1.5rem;
}

.username {
  text-transform: capitalize;
}

.profile-btn {
  margin-top: 1.3rem;
  width: 100%;
}

/* Home desgin */
.header {
  background: #fff;
  text-align: center;
}

.content {
  padding: 50px;
}

.content-container {
  text-align: center;
}

.welcome-text {
  margin-bottom: 20px;
}

.welcome-message {
  margin-bottom: 40px;
}

.buttons-container {
  display: flex;
  justify-content: center;
}

.button {
  margin-right: 15px;
}
